{% extends 'base.html' %}
{% block content %}
<h1>{{ genre.name }}</h1>
<div class="row">
    <div class="col s12 m12 l12 center">
        <div class="card #ef9a9a red lighten-3">
            <div class="card-content">
                <img src={{ genre.image_background }} width="100%">
                <div class="section">
                    <span class="card-title" id="cardTitle">{{ genre.name }}</span>
                    <div class="divider"></div>
                </div>
                <div class="section">
                    {{ genre.description|safe }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}