{% extends 'base.html' %}
{% block content %}

<h1>Genre Details</h1>

<div class="row">
    <div class="col s6">
        <h3>{{ genre.name }}</h3>
        <div class="card">
            <div class="card-content">
                <ul>
                    <li>This is where an image of the console will go</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <ul>
                    <li>{{ console.manufacturer }}</li>
                    <li>{{ console.release }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br>

<h2>Games</h2>
<br>
<p>This is the sorting link bar</p>
<br>
{% for game in games %}


{% endfor %}

{% endblock %}