{% extends 'base.html' %}
{% block content %}

<div class="row">
    {% for genre in genres %}
    <div>
        <a href="{% url 'genres_detail' genre.id %}">
            <div class="col s12 m6 l6">
                <div class="card #ef9a9a red lighten-3">
                    <div class="card-content">
                        <img src={{ genre.image_background }} id="cardImgs">
                        <span class="card-title" id="cardTitle">{{ genre.name }}</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}