{% extends 'base.html' %}
{% block content %}

<div class="row">
    {% for console in consoles %}
    <div>
        <a href="{% url 'console_detail' console.id %}">
            <div class="col s12 m6 l6">
                <div class="card #ef9a9a red lighten-3">
                    <div class="card-content">
                        <div class="section">
                            <img src={{ console.image_background }} id="cardImgs">
                            <span class="card-title" id="cardTitle">{{ console.name }}</span>
                            <div class="divider"></div>
                        </div>
                        <div class="section">
                            <p class="center">Games Made: {{ console.games_count }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}