{% extends 'base.html' %}
{% block content %}
<div class="row center">
  <div class="col s12">
    <h1>Welcome</h1>
    <hr width="50%">
    <h5>We're Twists Of Rate, we offer a unique blogging experience for gamers,
    by delivering the best quality gaming info.
    </h5>
    <br>
    <img src="https://www.knowablemagazine.org/sites/default/files/articles/351/G-gamer-stats_1.svg" id="homeImg">
  </div>
</div>
<div class="row center">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <p> Hello! We are Ryan Nash, Jonathan Lane and David Sheinbein, three individuals with a passion
        for gaming — gaming makes us happy. We truly believe in the power of collaboration and gamers ability
        to simplify communications, elevate experiences, and engage and inspire both game developers and gamers
        everywhere. Good games and good relationships come from collaboration. We're excited to implement a gaming
        oasis in which developers can have their games tested before release with honest feedback and also allow 
        gamers to find games that they will be highly interested in. We hope this will allow us all to learn about 
        all gamers prefrences, improve gaming as a whole and make the gaming community better together.
        </p>
      </div>
    </div>
  </div>
</div>


{% endblock %}