{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Twist Of Rate</title>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul>
          <li><a href="/" class="left brand-logo" id="headerText"
              style="font-family: 'Pacifico', cursive;">&nbsp;&nbsp;<img src="{% static 'images/Logo.png' %}" alt="Logo"
                style="width: 3rem;">&nbsp;&nbsp;Twists Of Rate</a></li>
        </ul>
        <ul class="brand-logo center">
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'console' %}">Console</a></li>
          <li><a href="{% url 'genre' %}">Genre</a></li>
          <li><a href="{% url 'title' %}">Title</a></li>
          <li><a href="{% url 'blog' %}">Blog</a></li>
        </ul>
        <ul class="right">
          <!-- if user.is_authenticated  -->
          <!-- else -->
          <li><a>Sign Up</a></li>
          <li><a>Log In</a></li>
          <!-- endif -->
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="right">All Rights Reserved, &copy; 2020 Twists Of Rate &nbsp;</div>
  </footer>
</body>

</html>