{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TwistOfRate</title>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>

  <!-- Might delete -->
  <!-- <img id="backgroundC" src="{% static "images/background3.svg" %}" alt="background"> -->

  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <!-- Heading Left -->
        <ul>
          <li><a href="/" class="left brand-logo">&nbsp;&nbsp;<img src="{% static 'images/Logo.png' %}" alt="Logo"
                id="logoImg">&nbsp;TwistsOfRate</a></li>
        </ul>
        <!-- Heading Center -->
        <div class="brand-logo center" id="hideMe">
          <ul>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'consoles_index' %}">Consoles</a></li>
            <li><a href="{% url 'genres_index' %}">Genre</a></li>
            <li><a href="{% url 'games_index' %}">Games</a></li>
            <li><a href="{% url 'blogs_index' %}">Blogs</a></li>
          </ul>
        </div>
        <!-- Heading Right -->
        <ul class="brand-logo right" id="hideMe">
          {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
          <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
        </ul>
        <!-- creates hamburger -->
        <div class="nav-wrapper" id="hamburger">
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="right material-icons">menu</i></a>
        </div>
    </nav>
  </header>
  <!-- Sidenav -->
  <div class="sidenav" id="mobile-demo">
    <ul>
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{% url 'consoles_index' %}">Consoles</a></li>
      <li><a href="{% url 'genres_index' %}">Genre</a></li>
      <li><a href="{% url 'games_index' %}">Games</a></li>
      <li><a href="{% url 'blogs_index' %}">Blog</a></li>
      {% if user.is_authenticated %}
      <li><a href="{% url 'logout' %}">Log Out</a></li>
      {% else %}
      <li><a href="{% url 'signup' %}">Sign Up</a></li>
      <li><a href="{% url 'login' %}">Log In</a></li>
      {% endif %}
    </ul>
  </div>

  <main class="container">
    {% block content %}
    {% endblock %}
  </main>


  <script>
    // Hamburger open sidebar
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems);
    });
  </script>
  <footer class="page-footer">
    <div class="left">&nbsp;Presented by the XÆA-12 Team</div>
    <div class="right">All Rights Reserved, &copy; 2020 Twists Of Rate &nbsp;</div>
  </footer>
</body>

</html>