{% extends 'base.html' %}
{% block content %}
<div class="center-align">
    <h1>TwistsOfRate</h1>
    <h5>- Confessions of a Game Freak -</h5>
</div>
<br>
<div class="row">
    <div class="col s6">
        <h5>Top Rated Consoles</h5>
        <div class="card">
            <div class="card-content">
                <ul>
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam soluta repudiandae omnis delectus voluptas vero repellat obcaecati dolorum culpa aliquam facere qui, quam animi? Reprehenderit recusandae deserunt laudantium distinctio inventore.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col s6">
        <h5>Top Rated Games</h5>
        <div class="card">
            <div class="card-content">
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati distinctio molestiae natus! Quia voluptas a iusto aliquam molestiae. Voluptatum excepturi impedit distinctio voluptates! Fuga, nostrum facere. Accusamus ratione dolorum nisi!</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col s4">
        <h5>Then</h5>
        <div class="card">
            <div class="card-content">
                <ul>
                    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae consectetur autem distinctio eos fuga, vero sunt qui dolor, culpa recusandae, laudantium minima ducimus beatae saepe nisi illum exercitationem provident iste.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col s4">
        <h5>Today</h5>
        <div class="card">
            <div class="card-content">
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui unde debitis odit, nam repellat esse perferendis nulla, aliquam placeat delectus nihil facere nostrum earum, ea minima laudantium maiores tenetur rerum.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col s4">
        <h5>Tomorrow</h5>
        <div class="card">
            <div class="card-content">
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, voluptatibus officia sit sed commodi laudantium! Esse, omnis? Ut, ea vel numquam tenetur in possimus. Corporis pariatur natus non necessitatibus delectus.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}