{% extends 'base.html' %}
{% block content %}

<div class="center-align">
    <h1>TwistsOfRate</h1>
    <h5>- Confessions of a Game Freak -</h5>
</div>
<br>

<div class="row">
    <h2>Recent Releases</h2>
    <div class="row">
        {% for release in releases %}
        <a href="{% url 'game_detail' release.id %}">
            <div class="col s12 m6 l4">
                <div class="card #ef9a9a red lighten-3">
                    <div class="card-content">
                        <img src={{ release.background_image }} id="cardImgs">
                        <span class="card-title" id="cardTitle">{{ release.name }}</span>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    <h2>Highest Rated</h2>
    <div class="row">
        {% for rating in ratings %}
        <a href="{% url 'game_detail' rating.id %}">
            <div class="col s12 m6 l4">
                <div class="card #ef9a9a red lighten-3">
                    <div class="card-content">
                        <img src={{ rating.background_image }} id="cardImgs">
                        <span class="card-title" id="cardTitle">{{ rating.name }}</span>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    <h2>Most Anticipated Upcoming Games</h2>
    <div class="row">
        {% for game in games %}
        <a href="{% url 'game_detail' game.id %}">
            <div class="col s12 m6 l4">
                <div class="card #ef9a9a red lighten-3">
                    <div class="card-content">
                        <img src={{ game.background_image }} id="cardImgs">
                        <span class="card-title" id="cardTitle">{{ game.name }}</span>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

{% endblock %}