html {
  height: 100%;
  background: linear-gradient(90deg, rgba(115,206,201,1) 35%, rgba(93,193,191,1) 100%);
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  height: 100%;
  background: url(/static/images/background1.svg); 
  background-size: contain; 
  background-repeat: no-repeat;
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  min-width: 100%;
}

main {
  flex: 1 0 auto;
  font-family: 'Oswald', sans-serif;
  padding-top: 4px;
}


/* Nav */
nav ul li a {
  font-family: 'Oswald', sans-serif;
  color: #555555;
  font-weight: 900;
}

nav {
  background: linear-gradient(90deg, rgba(255,111,111,.35) 35%, rgba(255,163,111,.35) 100%);
  background-color: transparent; 
}

ul li a {
  padding: 0 6px;
}

.active {
  text-decoration: underline;
  background-color: rgba(255,111,111,.50);
  color: white;
  font-weight: 900;
}

/* Logo */
a.left.brand-logo {
  font-family: 'Pacifico', cursive;
  font-size: 1.75rem;
  color: #555555;
}

#logoImg {
  width: 3rem;
}

/* Hamburger  & Side Nav for mobile */
#hamburger {
  position: absolute;
  right: 10px;
}

/* Sidenav */
#sideNavLogoTxt {
  font-family: 'Pacifico', cursive; 
  font-size: 2rem;
}

#sideNavLogoImg {
  width: 3rem;
}

.sidenav {
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, rgba(255,111,111,.90) 35%, rgba(255,163,111,.75) 100%);
  justify-content: start;
  text-align: center;
}

/* footer */
.page-footer {
  color: #6FFFE9;
  background-color: #3A506B;
}

/* footer */
footer.page-footer {
  padding-top: 0;
  text-align: right;
}

#babyFooterImg {
  width: 14px;
}


/* body content */
h1 {
  font-family: 'Pacifico', cursive;
  font-weight: 900;
  text-align: center;
  font-size: 4rem;
}

h2 {
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 2.5rem;
  text-decoration: underline;
  margin: 5px 0px 14px;
}

h5 {
  font-family: 'Roboto';
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: underline;
}

h6 {
  text-align: center;
}

#comments {
  text-decoration: underline;
}

/* Card content */

.card {
  /* height: 35vh auto; */
}

.card-content ul li {
  top: 0px;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  font-weight: 100;
}

.card .card-content img {
  width: 100%;
  height: auto;
}

.section {
  padding-top: 0;
}

/* Card Imgs */
#cardImgs {
  object-fit: cover;
  object-position: center top;
  width: 100%;
  height: 20vh;
}

/* Card border */
.card .card-content {
  padding: 10px;
}

/* about page card */
#uniqueCard {
  padding: 1px 5px 20px;
}

/* Card content like text */
#cardTitle {
  text-align: center;
  font-size: 1.2rem;
  color: #555555;
}

.card .card-content p {
  font-size: 1rem;
  color: #555555;
}

/* Img on home screen */
#homeImg {
  width: 100%;
  height: auto; 
  object-fit: cover;
}

strong {
  font-weight: 900;
  color: orange;
}

/* Signup Login styling */
label {
  font-size: 2rem;
  color: black;
}

/* Buttons */
.btn {
  background-color: #ef9a9a;
}

#tagsBtn {
  background-color: teal;
  border-radius: 20px;
  text-align: center;
  justify-content: center;
}

#btnBlogs {
  background-color: #6FFFE9;
  color: #555555;
  border-radius: 20px;
}

#tagLayout {
  text-align: center;
}

#platformSect, #storeSect {
  text-align: center;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  border-bottom: 1px solid #ef9a9a;
}

.helptext {
  font-style: italic;
  font-size: .75rem;
}

form ul li {
  font-style: italic;
  font-size: .75rem;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px)  {
  body {
    background: url(/static/images/background2.svg); 
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 100%;
  }

  nav {
    background: linear-gradient(-90deg, rgba(88,207,235,0.50) 50%, rgba(215,247,255,0.25) 100%);
    background-color: transparent; 
  }

  /* Nav bar text */
  nav ul li a {
    font-size: 18px;
  }

  /* Logo */
  a.left.brand-logo {
    font-size: 2rem;
    font-family: 'Pacifico', cursive; 
    color: #555555;
  }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    background: url(/static/images/background3.svg); 
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 100%;
  }

  nav {
    background: linear-gradient(90deg, rgba(111,255,166,.10) 35%, rgba(111,255,144,.25) 100%);
    background-color: transparent; 
  }

  /* Logo */
  a.left.brand-logo {
    font-size: 1.5rem;
    font-family: 'Pacifico', cursive; 
    color: #555555;
  }

  #logoImg {
    width: 2rem;
  }
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  html{
    width: 100%;
    height: auto;
  }

  body {
    background: url(/static/images/background3.svg); 
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 100%;
  }

  nav {
    background: linear-gradient(90deg, rgba(111,255,166,.50) 35%, rgba(111,255,144,.25) 100%);
    background-color: transparent; 
  }

  /* Logo */
  a.left.brand-logo {
    font-size: 1.25rem;
    font-family: 'Pacifico', cursive; 
    color: #555555;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #logoImg {
    width: 2rem;
  }

  #homeImg {
    width: 100%;
    height: auto; 
    object-fit: cover;
  }

  h1 {
    font-size: 3rem;
  }
  
  .card-content ul li {
    font-family: 'Oswald', sans-serif;
    font-size: 10px;
    font-weight: 100;
  }

  .page-footer {
    font-size: 10px;
  }
}