html {
  height: 100%;
  background: linear-gradient(180deg, rgba(120,209,205,1) 46%, rgba(111,255,233,1) 100%);
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  height: 100%;
  background: url(/static/images/background.svg); 
  background-size: cover; 
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}
nav ul li a {
  font-family: 'Oswald', sans-serif;
  color: #555555;
}

a.dropdown-trigger.btn{
  background-color: transparent ;
  box-shadow: transparent;
  -webkit-box-shadow: none;
  color: #555555;
  padding: 0 6px;
}

.dropdown-content li>a {
  color: #6FFFE9;
  background: linear-gradient(90deg, rgba(58,80,107,1) 35%, rgba(28,37,65,1) 100%);
}

ul li a {
  padding: 0 6px;
}

nav {
  background-color: transparent;
  box-shadow: none;
  /* -webkit-box-shadow: none; */
}

.page-footer {
  color: #6FFFE9;
  background-color: #3A506B;
}