html {
  height: 100%;
  background: linear-gradient(90deg, rgba(115,206,201,1) 35%, rgba(93,193,191,1) 100%);
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  height: 100%;
  background: url(/static/images/background.svg); 
  background-size: contain; 
  background-repeat: no-repeat;
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  min-width: 100%;
}

main {
  flex: 1 0 auto;
  font-family: 'Oswald', sans-serif;
  padding-top: 4px;
}


/* Nav */
nav ul li a {
  font-family: 'Oswald', sans-serif;
  color: #555555;
  font-weight: 900;
}

ul li a {
  padding: 0 6px;
}

/* Logo */
a.left.brand-logo {
  font-family: 'Pacifico', cursive;
  font-size: 1.75rem;
  font-family: 'Pacifico', cursive; 
  color: #555555;
}

nav div ul li a img {
  width: 3rem;
}

/* dropdown nav */
a.dropdown-trigger.btn{
  background-color: transparent ;
  box-shadow: transparent;
  -webkit-box-shadow: none;
  color: #555555;
  padding: 0 6px;
  font-weight: 900;
  /* border-top: double 10px; */
}

/* dropdown nav */
.dropdown-content li>a {
  color: #6FFFE9;
  background: linear-gradient(90deg, rgba(58,80,107,1) 35%, rgba(28,37,65,1) 100%);
}

nav {
  background: linear-gradient(90deg, rgba(255,111,111,.25) 35%, rgba(255,163,111,.25) 100%);
  background-color: transparent; 
  /* box-shadow: none;
  -webkit-box-shadow: none; */
}

/* footer */
.page-footer {
  color: #6FFFE9;
  background-color: #3A506B;
}

/* footer */
footer.page-footer {
  padding-top: 0;
  text-align: right;
}

/* Hamburger */
#hamburger {
  visibility: hidden;
  position: absolute;
  right: 10px;
}

.sidenav {
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, rgba(115,206,201,1) 35%, rgba(11,186,183,1) 100%);
  align-content: center;
  justify-content: space-evenly;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-weight: 900;
}

h5 {
  font-family: 'Roboto';
  font-weight: 600;
  text-align: center;
}

.card-content ul li {
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  font-weight: 100;
}

#homeImg {
  width: 700px;
  height: 740px; 
  object-fit: cover;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px)  {
  body {
    background: url(/static/images/background2.svg); 
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 100%;
  }

  nav {
    background: linear-gradient(-90deg, rgba(88,207,235,0.50) 50%, rgba(215,247,255,0.25) 100%);
    background-color: transparent; 
  }

  /* Nav bar text */
  nav ul li a {
    font-size: 18px;
  }

  /* dropdown nav */
  a.dropdown-trigger.btn{
    font-size: 18px;
    visibility: visible;
  }

  /* Logo */
  a.left.brand-logo {
    font-size: 2rem;
    font-family: 'Pacifico', cursive; 
    color: #555555;
  }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    background: url(/static/images/background4.svg); 
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 100%;
  }

  nav {
    background: linear-gradient(90deg, rgba(111,255,166,.10) 35%, rgba(111,255,144,.25) 100%);
    background-color: transparent; 
  }

  /* Nav bar text */
  nav ul li a {
    font-size: 10px;
  }

  /* dropdown nav */
  a.dropdown-trigger.btn{
    font-size: 10px;
    visibility: visible;
  }

  /* Logo */
  a.left.brand-logo {
    font-size: 1.5rem;
    font-family: 'Pacifico', cursive; 
    color: #555555;
  }

  nav div ul li a img {
    width: 2rem;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 767px) {
  body {
    background: url(/static/images/background4.svg); 
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 100%;
  }

  nav {
    background: linear-gradient(90deg, rgba(111,255,166,.10) 35%, rgba(111,255,144,.25) 100%);
    background-color: transparent; 
  }
  
  a.dropdown-trigger.btn {
    visibility: visible;
  }
  
  a.dropdown-trigger.btn:hover {
    visibility: visible;
  }

  /* dropdown nav */
  #hideMe {
    visibility: hidden;
  }
  
  /* Logo */
  a.left.brand-logo {
    visibility: visible;
    font-size: 1.5rem;
    font-family: 'Pacifico', cursive; 
    color: #555555;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav ul li {
    visibility: hidden;
  }

  .nav-wrapper {
    display: flex;
    justify-content: center;
  }

  nav div ul li a img {
    width: 2.5rem;
  }

  #hamburger {
    visibility: visible;
  }
  
  #hamburgerDrop {
    visibility: visible;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    background: url(/static/images/background4.svg); 
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 100%;
  }

  nav {
    background: linear-gradient(90deg, rgba(111,255,166,.10) 35%, rgba(111,255,144,.25) 100%);
    background-color: transparent; 
  }
  
  /* dropdown nav */
  #hideMe {
    visibility: hidden;
  }

  /* Logo */
  a.left.brand-logo {
    font-size: 1.25rem;
    font-family: 'Pacifico', cursive; 
    visibility: visible;
    color: #555555;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-wrapper {
    display: flex;
    justify-content: center;
  }

  nav div ul li a img {
    width: 2rem;
  }

  #hamburger {
    visibility: visible;
  }
  
  #hamburgerDrop {
    visibility: visible;
  }
}