{% extends 'base.html' %}
{% block content %}

<h2>Blog Posts</h2>
<div class="row">
    <div class="card #ef9a9a red lighten-3">
        <div class="card-content">
            <span class="card-title">{{ blog.title }}</span>
            <ul>
                <li>{{ blog.user.username }}</li>
                <li>{{ blog.date }}</li>
                <li>{{ blog.body }}</li>
            </ul>
            <a href="{% url 'blogs_update' blog.id %}" class="btn" id="btnBlogs">Edit Blog</a>
            <a href="{% url 'blogs_delete' blog.id %}" class="btn" id="btnBlogs">Delete Blog</a>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="card #ef9a9a red lighten-3">
        <div class="card-content">
            <span class="card-title">Comment</span>
            <form action="{% url 'add_blog_comment' blog.id %}" method="POST">
                {% csrf_token %}
                <textarea name="body"></textarea>
                <br>
                <input type="submit" value="Leave a Comment" class="btn" id="btnBlogs">
            </form>
            <!-- New -->
            <form action="{% url 'add_photo' cat.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
                {% csrf_token %}
                <input type="file" name="photo-file">
                <br><br>
                <input type="submit" class="btn" value="Upload Photo">
            </form>
            <!-- ^^^^^ -->
        </div>
    </div>
</div>
<br>
<h2>Comments</h2>
{% for comment in blog.blogcomment_set.all %}
<div class="row">
    <div class="card #ef9a9a red lighten-3">
        <div class="card-content">
            <p id="comments">{{ comment.body }}</p>
            <p>Posted By: {{ comment.user.username }} - {{ comment.date }}</p>
            <!-- New -->
            {% for photo in cat.photo_set.all %}
            <img class="responsive-img card-panel" src="{{photo.url}}">
            {% empty %}
            <div class="card-panel teal-text center-align">No Photos Uploaded</div>
            {% endfor %}
            <!-- ^^^^ -->
        </div>
    </div>
</div>
{% empty %}
<div class="card-panel">No Comments Yet</div>
{% endfor %}

{% endblock %}