{% extends 'base.html' %}
{% block content %}

<div class="valign-center">
    <h1>Blogs</h1>
    <br>
    {% if user.is_authenticated %}
    <a href="{% url 'blogs_create' %}" class="btn">Add a Blog</a>
    {% endif %}
    <br>
    <div class="row">
        {% for blog in blogs %}
            <a href="{% url 'blog_detail' blog.id %}">
                <div class="col s4">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">{{ blog.title }}</span>
                            <p>By: {{ blog.user.username }}</p>
                            <p>Published: {{ blog.date }}</p>
                        </div>
                    </div>
                </div>
            </a>
        {% empty %}
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="card #ef9a9a red lighten-3">
                        <div class="card-content">
                            <div class="section">
                                <h6>There are no blog posts yet. Why not add one?</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        {% endfor %}
    </div>
</div>

{% endblock %}