{% extends 'base.html' %}
{% block content %}

<div class="valign-center">
    <h1>Blogs</h1>
    <br>
    <a href="{% url 'blogs_create' %}" class="btn">Add a Blog</a>
    <p>This is the sorting link bar</p>
    <br>
    <div class="row">
        {% for blog in blogs %}
            <a href="{% url 'blog_detail' blog.id %}">
                <div class="col s4">
                    <div class="card #ef9a9a red lighten-3">
                        <div class="card-content">
                            <span class="card-title">{{ blog.title }}</span>
                            <p>By: {{ blog.user.username }}</p>
                            <p>Published: {{ blog.date }}</p>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>

{% endblock %}