{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col s12 m12 l12">
        <div class="card #ef9a9a red lighten-3">
            <div class="card-content">
                <img src={{ game.background_image }} width="100%">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l12">
        <div class="card #ef9a9a red lighten-3">
            <div class="card-content">
                <div class="section">
                    <h2>Game Preview</h2>
                    <div class="video-container">
                        <iframe width="853" height="480" src="{{ game.clip.clip }}" frameborder="0" allowfullscreen autoplay='0'></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l12">
        <div class="card #ef9a9a red lighten-3">
            <div class="card-content">
                <div class="section">
                    <h2>Description</h2>
                    <div class="divider"></div>
                </div>
                <div class="section">
                    Date Released: {{game.released}}
                    Genres: {% for genre in game.genres %}
                        |{{ genre.name }}|
                    {% endfor %}
                    ESRB Rating: {{ game.esrb_rating.name }}
                    <br>
                    {{game.description_raw}}
                    <br>
                    <h5>Tags:</h5>
                    {% for tag in game.tags %}
                        ({{ tag.name }})
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l12">
        <div class="card #ef9a9a red lighten-3">
            <div class="card-content">
                <div class="section">
                    <h2>Ratings</h2>
                    <div class="divider"></div>
                </div>
                <div class="section">
                    {% for rating in game.ratings %}
                        {{rating.id}}
                        {{rating.title}}
                        {{rating.count}}
                        {{rating.percent}}%
                    {% endfor %}
                    {{game.rating}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card #ef9a9a red lighten-3">
        <div class="card-content">
            <div class="section">
                <h2>Developers</h2>
            </div>
            <div class="divider"></div>
            <div class="section">
                {% for developer in game.developers %}
                    <h5>{{ developer.name }}</h5>
                    <img src={{ developer.image_background }}>
                {% endfor %}
            </div>
            <div class="section">
                <h2>Publishers</h2>
            </div>
            <div class="divider"></div>
            <div class="section">
                {% for publisher in game.publishers %}
                    <h5>{{ publisher.name }}</h5>
                    <img src={{ publisher.image_background }}>
                {% endfor %}
            </div>
            <div class="section">
                
            </div>
        </div>
    </div>
</div>
</div>
<div class="row">
    <div class="col s12 m12 l12">
        <div class="card #ef9a9a red lighten-3">
            <div class="card-content">
                <div class="section">
                    <h2>Platforms</h2>
                    <div class="divider"></div>
                </div>
                {% for platform in game.platforms %}
                <div class="section">
                    {{platform.platform.name}}  
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l12">
        <div class="card #ef9a9a red lighten-3">
            <div class="card-content">
                <div class="section">
                    <h2>Stores</h2>
                    <div class="divider"></div>
                </div>
                {% for store in game.stores %}
                <div class="section">
                    <a href={{store.url}}>{{store.store.name}}</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% if game.reddit_url or game.website %}
<div class="row">
    <div class="col s12 m12 l12">
        <div class="card #ef9a9a red lighten-3">
            <div class="card-content">
                <div class="section">
                    <h2>Links</h2>
                    <div class="divider"></div>
                </div>
                <div class="section">
                    {% if game.reddit_url %}
                    Subreddit Page:<a href={{game.reddit_url}}>{{game.reddit_description}}</a>
                    {% else %}

                    {% endif %}
                    {% if game.website %}
                    Game Website:<a href={{game.website}}>{{game.name}}</a>
                    {% else %}
                    
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}